<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PETSHOP DH</title>
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>

<body>

    <%- include('../../partials/header') %>

    <main>
        <section class="servicos-lista">
            <div class="container">
                <h1>Serviços</h1>
                <a href="/adm/servicos/cadastro" class="btn btn-primary mb-5" >Cadastrar</a>
                <table class="table table-dark table-striped table-bordered ">
                    <thead>
                      <tr>
                        <th scope="col">Identificador</th>
                        <th scope="col">imagem</th>
                        <th scope="col">Nome</th>
                        <th scope="col">Preço</th>
                        <th scope="col">Ativo</th>
                        <th scope="col">Ações</th>
                      </tr>
                    </thead>
                    <tbody>
                        <% servicos.forEach(servico => { %> 
                            <tr>
                                <th scope="row"> <%= servico.id %></th>
                                <td><img class="thumb" src="<%= servico.imagem %>" alt="" width="100px" height="100px"></td>
                                <td><%= servico.nome %></td>
                                <td><%= servico.preco %></td>
                                <td><%= servico.ativo ? "Habilitado" : "Desabilitado" %></td>
                                <td>
                                    <button type="button" class="btn btn-secondary">Editar</button>
                                    <button type="button" class="btn btn-danger">Excluir</button>

                                </td>
                            </tr>
                        <% }) %> 

                    </tbody>
                  </table>
 


            </div>
        </section>
    </main>

    <%- include('../../partials/footer') %>
</body>

</html>